<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tweeter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <style>
         table, th, td {
         border: solid black;}
      </style>
    </head>
    <body>
      <h1>Login to Tweeter</h1>
      <p></p>
      <p></p>
      <div style="font-size:20px; padding:50px; background-color: yellow;">
        <form action="/login" method="POST">
          <input id="email" type="text" name="email" placeholder="Email/ Username" style="width: 300px">
            <input id="password" type="text" name="password" placeholder="Password" style="width: 300px">
              <input type="submit" value="Submit">
              </form>
            </div>
          </body>
        </html>
