h2{
  text-decoration: underline;
  margin-left: 10%;
}

textarea {
  width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    text-align: left;
}

.new-tweet{
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  border-radius: 10px;
  background-color: lightblue;
  border-style: groove;
}

input {
  margin: 10px;
}

.counter{
  float: right;
  margin: 10px;
}

.handle{
  float:right;
  font-size: 13px;
  margin-right:5px;
}

.new_message{
  background-color: white;
  border-style: groove;
  border-radius: 5px;
  margin:10px;
  border-width: thin;
}

.tweet_head{
  border-radius: 2px;
  background-color: lightgrey;
  height: 60px;
}

.picture{
  float: left;
  margin-left:3px;
  margin-top: 4px;
  border-radius: 10px;
}

.username{
  float: left;
  margin:3px;
  padding: 10px;
}

.new_message footer {
  height: 25px;
}

.tweet_lower {
  margin: 10px;
  font-size: 12px;
}

.tweet_options{
  float: right;
  opacity: 0;
}

.base :hover.tweet_options{
  opacity: 1;
}

article:hover .tweet_options{
  opacity: 1;
}

.base :hover {
  border-color: black;
  border-style: bold;
  border-width: medium;
}

.content {
  margin:10px;
}