#nav-bar{
  height: 80px;
  margin-left: 2em;
  margin-right: 2em;
  font-color: #e8fdff;
  background-color: #00a087;
  border: 1px solid #4CAF50;
}

#nav-bar .logo {
 width: 80px;
 height: 80px;
}

#nav-bar .header{
  font-size: 50px;
  line-height: 5px;
  text-align: center;
  position: relative;
  bottom: 35%;
}

.composeTweet {
  float: right;
  border-style: groove;
  border-radius: 10px;
  width: 180px;
  height: 58px;
  margin: 10px;
 background-color: white;
 text-align: center;
 vertical-align: middle;
}

.composeTweet:hover{
  background-color: azure;
}

.login {
  float: right;
  border-style: groove;
  border-radius: 10px;
  width: 180px;
  height: 58px;
  margin: 10px;
 background-color: white;
 text-align: center;
 vertical-align: middle;
}

.login:hover{
  background-color: azure;
}

.logout {
  float: right;
  border-style: groove;
  border-radius: 10px;
  width: 180px;
  height: 58px;
  margin: 10px;
 background-color: white;
 text-align: center;
 vertical-align: middle;
}
.logout:hover{
  background-color: azure;
}

.register {
  float: right;
  border-style: groove;
  border-radius: 10px;
  width: 180px;
  height: 58px;
  margin: 10px;
 background-color: white;
 text-align: center;
 vertical-align: middle;
}

.register:hover{
  background-color: azure;
}